In [9]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['a','b','c'], index=['A','B','C'])
df.head()

   a  b  c
A  1  2  3
B  4  5  6
C  7  8  9

In [10]:
df.tail(2)

   a  b  c
B  4  5  6
C  7  8  9

In [11]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [12]:
df.index.tolist()

['A', 'B', 'C']

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to C
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [14]:
df.describe()

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [20]:
df.nunique()

a    3
b    3
c    3
dtype: int64

In [22]:
df.shape

(3, 3)

In [25]:
df.size

9